<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
<%-include('./partials/head.ejs')%>

    
  </head>
  <%-include('./partials/header.ejs')%>
    <body>
  <main>
    <section>
      <% if(typeof registerErrors != "undefined") {%> 
        <ul>
            <% registerErrors.forEach(error => { %> 
                <li>· <%= error.msg %> </li>
            <% }); %> 
        </ul>
      <% } %> 
   
    <form action="/create" method= "POST"><br>
    <label for="">Title</label><br>
    <input type="text" name="title"  value="<%= typeof oldValues != "undefined" ? oldValues.title : "" %>" required><br>
    <label for="">Rating</label><br>
    <input type="text" name= "rating"  value="<%= typeof oldValues != "undefined" ? oldValues.rating : "" %>"required><br>
    <label for="">Length</label><br>
    <input type="text" name="length" value="<%= typeof oldValues != "undefined" ? oldValues.length : "" %>"required><br>
    <label for="">Awards</label><br>
    <input type="text" name="awards" value="<%= typeof oldValues != "undefined" ? oldValues.awards : "" %>"required><br>
    <label for="">Genre</label><br>
    <select name="genre_id" value="<%= typeof oldValues != "undefined" ? oldValues.genre_id : "" %>"required>
    <% generos.forEach(genero => { %>
      <option value=  "<%=genero.id%>"><%=genero.name  %> </option>
     
    <% }) %>
    </select><br>
    <label for="">Actors</label><br>
    <select name="actores" multiple required>
    <% actores.forEach(actor => { %>
      <option value="<%=actor.id%>"><%=actor.first_name%> <%= actor.last_name  %> </option>
     
    <% }) %>
    </select><br>
    <label for="">Release Date</label>
    <input type="date"name="release_date" value="<%= typeof oldValues != "undefined" ? oldValues.release_date : "" %>"required><br>
    <button type="submit">create!</button>
    </form> 
  </section>
  </main>
  
</body>
</html>